.forgot-form {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(177, 226, 43);
    box-shadow: -9px 10px 15px 5px rgba(90, 204, 14, 0.73);
}